/* Work Sans Google Font */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Montserrat:wght@600&family=Work+Sans:wght@400;500;600;700;800&display=swap');

    /* shared Styles */

.btn-primary{
    padding: 20px 25px;
    border-radius: 8px;
    background: #FF900E;
    color: #fff;
    border: 0;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}


*{
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

 /* header tag style  */

 header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
 }

 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

.nav-title{
    font-size: 3rem; 
    font-weight: 700;
    color: #131313;
}

 nav > ul {
    display: flex;
 }

 nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
 }

 nav li a{
    text-decoration: none;
 }

 /* Banner Section Style  */

.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-description{
    color: #727272;
}


.banner img{
    width: 100%;
    margin-top: 20px;
}







/* Responsive Media Query   */

 /* Mobile Small Devices  */

@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }


}
 /* tablet or Medium Devices  */

@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 40px;
    }
    nav{
        flex-direction: column;
    }


}


/* MAIN Style  */

main{
    max-width:1440px;
    margin: 0 auto;
}

 /* Teams style  */

 .teams-container{
    display: flex;
    align-items: center;
 }
 .teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
 }
 .teams-content{
    padding-right: 70px;
    padding-left: 70px;
 }
 .teams-title{
    font-size: 2.8rem;
 }
 .teams-title .quick-list{
    color: #727272;
    font-weight: 500;
 }
 .teams-title .of-our{
    color: #131313;
    font-weight: 700;
 }
 .teams-title .text-features{
    color:#FF900E;
    font-weight: 700;
 }